.apps {
    &__element {
        margin-top: 90px;

        @media (max-width: 1000px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__image {
        max-width: 100%;
        border-radius: 20px;
        min-height: 300px;
        object-fit: cover;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    &__link {
        text-transform: uppercase;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        padding: 8px 16px;
        border: 1px solid #fff;
        border-radius: 20px;
        margin-top: 32px;

        &::after {
            content: '';
            background-image: url("../../images/arrow1.svg");
            width: 24px;
            height: 24px;
        }

        &:hover {
            background: $color-pink;
            // background: $color-green;
            padding: 8px 28px;

            &::after {
                content: '';
                background-image: url("../../images/arrow2.svg");
                width: 24px;
                height: 24px;
            }
        }
    }

    &__code {
        margin-top: 24px;
        color: $color-grey;
        transition: 0.3s;

        &:hover {
            transform: translateX(5px);
        }
    }

    &__text {
        color: $color-neutral;
        line-height: 200%;
        margin-top: 16px;
    }

    &__title {
        margin-top: 32px;
    }

    &__nothing {
        color: $color-grey;
    }
}
