.works {
    &__title {
        text-align: center;
        margin: 120px 0 36px;

        @media (max-width: 876px) {
            margin-top: 48px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }

    &__item {
        line-height: 50px;
        background-color: $color-grey-alternate;
        padding: 40px 60px;
        max-width: 400px;
        font-size: 40px;
        transition: 0.3s;
        border: 1px solid $color-grey-alternate;

        @media (max-width: 1300px) {
            font-size: 30px;
            padding: 20px 15px;
        }

        &:hover {
            transform: scale(1.02);
            cursor: pointer;
        }

        &__text {
            margin-top: 20px;
            font-weight: 400;
            color: $color-grey;
        }
    }
}

#landing-menu {
    border-bottom: 1px solid $color-green;
}
