@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
}
.grid__item-2, .grid__item-4, .grid__item-6 {
  grid-column: 3/2;
}
.grid__item-2r, .grid__item-4r, .grid__item-6r {
  grid-row: 2/1;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  background-color: #171717;
  color: #fff;
  margin: 0 32px;
}
@media (min-width: 640px) {
  body:not(:first-child) {
    margin: 0 112px;
  }
}
@media (min-width: 1024px) {
  body:not(:first-child) {
    margin: 0 160px;
  }
}
@media (min-width: 1600px) {
  body:not(:first-child) {
    margin: 0 232px;
  }
}

h1 {
  font-size: 56px;
  line-height: 120%;
  font-weight: 600;
}
@media (max-width: 1300px) {
  h1 {
    font-size: 48px;
  }
}
@media (max-width: 676px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-size: 40px;
  font-weight: 600;
}
@media (max-width: 800px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-size: 32px;
  font-weight: 600;
}
@media (max-width: 800px) {
  h3 {
    font-size: 22px;
  }
}

p {
  line-height: 160%;
}
@media (max-width: 876px) {
  p {
    font-size: 16px;
    line-height: 140%;
  }
}

b {
  color: #fff;
  font-weight: 600;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 36px 0;
}
@media (max-width: 412px) {
  .nav__list {
    display: none;
  }
}
.nav__item {
  display: inline-block;
}
.nav__item:not(:last-child) {
  margin-right: 32px;
}
@media (max-width: 560px) {
  .nav__item:not(:last-child) {
    margin-right: 16px;
  }
}
.nav__item__link {
  padding: 15px 0;
  transition: 0.3s;
  font-size: 14px;
  text-transform: uppercase;
}
.nav__item__link:hover {
  color: #27AE60;
}
.nav__button {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  margin: 64px auto 0;
}
@media (max-width: 876px) {
  .header {
    flex-direction: column;
    margin-top: 0;
  }
}
.header__paragraph {
  margin: 8px 0 35px;
  color: #828282;
  font-size: 18px;
}
@media (max-width: 876px) {
  .header__buttons {
    display: flex;
    justify-content: space-around;
  }
}
.header__btn {
  display: inline-block;
  width: 144px;
  text-align: center;
  font-size: 16px;
  padding: 12px;
  border: 1px solid #fff;
  transition: transform 0.3s;
}
.header__btn__cv {
  background-color: #27AE60;
  margin-right: 10px;
  border: none;
}
.header__btn:hover {
  transform: translateY(-10px);
}
.header__img {
  position: relative;
  width: 650px;
  height: 650px;
}
@media (max-width: 1420px) {
  .header__img {
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 1270px) {
  .header__img {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 500px) {
  .header__img {
    width: 300px;
    height: 300px;
  }
}
.header__image {
  position: absolute;
  width: 100%;
  border-radius: 50%;
  padding: 15px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 8px 20px -6px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0.14);
}

.about {
  margin-top: 46px;
}
.about__title {
  text-align: center;
  margin: 36px 0 18px;
}
.about__text {
  line-height: 250%;
  margin: 0 auto;
  max-width: 66.66%;
  text-align: center;
  color: #cccdcf;
}
@media (max-width: 1270px) {
  .about__text {
    max-width: 80%;
  }
}
@media (max-width: 876px) {
  .about__text {
    max-width: 100%;
    margin-top: 18px;
    line-height: 180%;
  }
}
.about__text::before {
  content: "";
  display: block;
  width: 50%;
  margin: 0 auto;
  height: 2px;
  background-color: #27AE60;
}
.about__text-left {
  text-align: left;
}

.works__title {
  text-align: center;
  margin: 120px 0 36px;
}
@media (max-width: 876px) {
  .works__title {
    margin-top: 48px;
  }
}
.works__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}
.works__item {
  line-height: 50px;
  background-color: #212121;
  padding: 40px 60px;
  max-width: 400px;
  font-size: 40px;
  transition: 0.3s;
  border: 1px solid #212121;
}
@media (max-width: 1300px) {
  .works__item {
    font-size: 30px;
    padding: 20px 15px;
  }
}
.works__item:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.works__item__text {
  margin-top: 20px;
  font-weight: 400;
  color: #828282;
}

#landing-menu {
  border-bottom: 1px solid #27AE60;
}

.apps__element {
  margin-top: 90px;
}
@media (max-width: 1000px) {
  .apps__element {
    display: flex;
    flex-direction: column;
  }
}
.apps__image {
  max-width: 100%;
  border-radius: 20px;
  min-height: 300px;
  object-fit: cover;
}
.apps__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.apps__link {
  text-transform: uppercase;
  font-size: 20px;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  padding: 8px 0 8px 16px;
  border: 1px solid #fff;
  border-radius: 20px;
  margin-top: 32px;
  line-height: 100%;
}
.apps__link span::after {
  content: "»";
  font-size: 30px;
  opacity: 0;
  top: 0;
  transition: 0.5s;
}
.apps__link:hover {
  background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
  padding: 8px 28px;
}
.apps__link:hover span::after {
  opacity: 1;
}
.apps__link__arrow {
  width: 24px;
  height: 24px;
  background-image: url("../../images/arrow1.svg");
}
.apps__code {
  margin-top: 24px;
  color: #828282;
  transition: 0.3s;
}
.apps__code:hover {
  transform: translateX(5px);
}
.apps__text {
  color: #cccdcf;
  line-height: 200%;
  margin-top: 16px;
}
.apps__title {
  margin-top: 32px;
}
.apps__nothing {
  color: #828282;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}
.contacts__title__bold {
  color: #828282;
  font-weight: 300;
  display: inline;
}
.contacts__text {
  color: #828282;
}
.contacts__links {
  margin-top: 60px;
  display: flex;
  gap: 40px;
}
.contacts__link {
  transition: 0.3s;
}
.contacts__link:hover {
  transform: scale(1.15);
}
.contacts__footer {
  margin: 80px 0 60px;
  color: #828282;
}

/*# sourceMappingURL=main.css.map */
