.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;

    &__title {
        &__bold {
            color: $color-grey;
            font-weight: 300;
            display: inline;
        }
    }

    &__text {
        color: $color-grey;
    }

    &__links {
        margin-top: 60px;
        display: flex;
        gap: 40px;
    }

    &__link {
        transition: 0.3s;

        &:hover {
            transform: scale(1.15);
        }
    }

    &__footer {
        margin: 80px 0 60px;
        color: $color-grey;
    }
}