.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin: 64px auto 0;

    @media (max-width: 876px) {
        flex-direction: column;
        margin-top: 0;
    }

    &__paragraph {
        margin: 8px 0 35px;
        color: $color-grey;
        font-size: 18px;
    }

    &__buttons {
        @media (max-width: 876px) {
            display: flex;
            justify-content: space-around;
        }
    }

    &__btn {
        display: inline-block;
        width: 144px;
        text-align: center;
        font-size: 16px;
        padding: 12px;
        border: 1px solid #fff;
        transition: transform 0.3s;

        &__cv {
            background-color: $color-green;
            margin-right: 10px;
            border: none;
        }

        &:hover {
            transform: translateY(-10px);
        }
    }

    &__img {
        position: relative;
        width: 650px;
        height: 650px;

        @media (max-width: 1420px) {
            width: 500px;
            height: 500px;
        }

        @media (max-width: 1270px) {
            width: 400px;
            height: 400px;
        }

        @media (max-width: 500px) {
            width: 300px;
            height: 300px;
        }
    }

    &__image {
        position: absolute;
        width: 100%;

        border-radius: 50%;
        padding: 15px;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.14); 
        box-shadow: 0px 8px 20px -6px #000000, 5px 5px 15px 5px rgba(0,0,0,0.14);
    }
}