$background-color: #171717;
$color-pink: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
$color-green: #27AE60;
$color-neutral: #cccdcf;
$color-grey: #828282;
$color-grey-alternate: #212121;
